.h1{
   font-family: 'Nerko One', cursive;
}

.error{
color :red;
margin-left: 10px;
margin-top: 10px;
}
.container {
   width: 80%;
   height: 85vh;
   margin: 70px auto;
   display: flex;
   border-radius: 10px;
 }
 #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn{
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: rgb(2, 149, 246);
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  }
  .btn:hover {
    box-shadow: 0 5px 20px 0 rgba(254, 3, 3, 0.04);
    transform: translate(-4px, 4px);
  }